.DS_Store
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
pkg/*
rdoc
spec/reports
spec/vcr_cassettes
spec/vcr_cassettes/*
spec/api_key.rb
test/tmp
test/version_tmp
tmp
